.card-img-container {
  height: 10rem;
}

.dishcard-container {
  height: 14em;
}

.card-img {
  width: 100%;
  height: 100%;
  max-height: max-content;
  object-fit: cover;
}

@media screen(min-width: 768px) {
  .card-img-container {
    height: 14em;
  }
}
